VITE_API_URL=https://tarepet-backend-4iw6.onrender.com/api/v1
VITE_PAYSTACK_PUBLIC_KEY=pk_test_0cebdc3e1ca9d0ef71d0aa988c85be3675a7a675
# Backend Secret Key (Configured on Django Backend):
# PAYSTACK_SECRET_KEY=sk_test_2e821c470d301e2b2f5543cf3c23d611f66bfae9
